/*-----------------------------------------------------------------------------
RN53 RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:    1.0
date:       07/27/2019
author:     rn53themes
-----------------------------------------------------------------------------*/
/*-------------------------------------------------
 =  Table of Css

	ALL PAGES COMMON CSS STYLES
	NAVIGATION MENU
	MOBILE MENU
	HOME PAGE LOGO & SLIDER
	HOME PAGE - QUICK ENQUIRY
	LATEST NEWS - HOVER EFFECTS (HOME PAGE BELOW THE ENQUIRY SECTION )
	ALL SPORTS EVENT SECTION
	JOIN THE EVENT
	EVENTS GOING ON
	UPCOMING EVENTS
	JOIN OUR CLUB AND DONATION
	BLOG POSTS
	FOOTER
	INNER PAGE - STYLES 
	INNER PAGE - CONTACT FORM - CONTACT US PAGE
	BOOKING FORM
	EVENT SEARCH TABLE
	EVENT REGISTER HEAD
	TEAM AND PLAYER INFORMATION
	TRAINING PAGE
	BLOG PAGE
	SOCCER EVENTS PAGE
	TEAM DETAIL PAGE
	SHOP PAGE
	EVENT SCROLLING PAGE
-------------------------------------------------*/
/*-------------------------------------------------*/
/* =  All Pages Common CSS Styles
/*-------------------------------------------------*/

body {
    font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
p,
a,
li,
span,
th,
td {
    line-height: 25px;
    color: #848080;
    font-size: 16px;
}
a {
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
a:hover {
    text-decoration: none !important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
::-moz-scrollbars-none {
    display: none;
}
::-webkit-scrollbar {
    display: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
ul {
    padding: 0px;
    margin-bottom: 0px;
}
li {
    list-style-type: none;
}
.lp {
    padding: 60px 50px 60px 145px;
    position: relative;
    overflow: hidden;
}
.spe-bot-red-3 {
    padding-bottom: 30px;
}
.pad-red-bot-pad-0 {
    padding-bottom: 0px !important;
}
.pad-lr-0 {
    padding-left: 0px;
    padding-right: 0px;
}
div {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.inn-title {
    margin-bottom: 50px;
}
.inn-title h2 {
    margin-top: 0px;
    font-size: 30px;
    color: #263846;
}
.inn-title h2 span {
    font-size: 30px;
    color: #8c8c8c;
}
.inn-title h2 i {
    width: 28px;
    height: 28px;
    text-align: center;
    color: #000000;
    padding: 6px;
    background: #f0c419;
    font-size: 16px;
    vertical-align: middle;
    margin-top: -5px;
}
.inn-title p {
    margin-bottom: 0px;
    color: #8c8c8c;
}
.inn-pad-top-5 {
    padding-top: 50px;
}
/*-------------------------------------------------*/
/* =  Navigation Menu
/*-------------------------------------------------*/

.menu {
    left: 0;
    z-index: 100;
    position: fixed;
    width: 90px;
    background: #4CAF50;
    /* overflow: hidden; */
    
    height: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.34);
    -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.34);
    -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.34);
    -ms-overflow-style: scrollbar;
    transition: all 0.5s ease;
    overflow: scroll;
}
.menu:hover {
    transition: all 0.5s ease;
}
.menu ul {
    padding: 0px;
}
.menu ul li {
    border-bottom: 1px solid #54be58;
    display: block;
}
.menu-lef-act {
    background: #ffc107;
    color: #27313a !important;
}
.menu ul li a {
    display: block;
    text-align: center;
    color: #f0f0f0;
    font-size: 12px;
    padding: 14px 0px 8px 0px;
    text-transform: uppercase;
    font-weight: 600;
}
.menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background: #ffc107;
    color: #27313a;
    text-shadow: 0px 1px 0px rgb(39, 49, 58);
}
.menu ul li a img {
    display: block;
    margin: 0 auto;
}
.menu ul li a i {} .home {
    position: relative;
    overflow: hidden;
    background: #1f2023;
}
/*-------------------------------------------------*/
/* Mobile Menu
/*-------------------------------------------------*/

.mob-menu {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    transition: all 0.5s ease;
}
.mob-menu i {
    color: #fff;
    padding: 11px;
    background: #4CAF50;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    cursor: pointer;
}
.mob-close {
    display: none;
    position: fixed;
    top: 0px;
    left: 90px;
    z-index: 9999;
    transition: all 0.5s ease;
}
.mob-close i {
    color: #000;
    padding: 11px;
    background: #f0c419;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    cursor: pointer;
}
/*-------------------------------------------------------*/
/* 2.Home Page Logo & Slider
/*-------------------------------------------------------*/

.h_l {
    float: left;
    width: 35%;
    padding: 80px 50px 55px 145px;
}
.h_l img1 {} .h_l h2 {
    color: #a5a5a5;
    margin-top: 30px;
}
.h_l p {
    color: #909090;
}
.h_l ul {
    padding: 0px;
    margin: 20px 0px;
}
.h_l ul li {
    list-style-type: none;
    line-height: 32px;
    margin-bottom: 8px;
}
.h_l ul li a {
    color: #909090;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}
.h_l ul li a:hover {
    padding-left: 10px;
}
.h_l ul li a span {
    color: #fec008;
    width: 32px;
    height: 32px;
    background: #313131;
    display: inline-block;
    padding: 4px;
    margin-right: 8px;
    text-align: center;
    font-weight: 700;
    border-radius: 2px;
    /* text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62); */
    
    font-size: 14px;
}
.h_r {
    float: left;
    width: 65%;
}
.h_l img {
    width: 280px;
}
.aebtn {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 5px;
    border: 1px solid #e5ad05;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
    border: 1px solid #d7a307;
    /* -webkit-box-shadow: #B7B8B8 0px 1px 0px inset; */
    
    -moz-box-shadow: #B7B8B8 0px 1px 0px inset;
    /* box-shadow: #B7B8B8 0px 1px 0px inset; */
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: #ffd65e !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
    background-image: -webkit-linear-gradient(top, #ffd65e, #febf04);
    background-image: -moz-linear-gradient(top, #ffd65e, #febf04);
    background-image: -ms-linear-gradient(top, #ffd65e, #febf04);
    background-image: -o-linear-gradient(top, #ffd65e, #febf04);
    background-image: linear-gradient(to bottom, #ffd65e, #febf04);
    display: block;
    text-align: center;
}
.aebtn:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background: #ffc107;
    color: #000;
}
.h_r {} .h_r img {
    width: 100%;
}
/*-------------------------------------------------------*/
/* HOME PAGE - QUICK ENQUIRY
/*-------------------------------------------------------*/

.hom-search {
    background: #000000;
    position: relative;
    overflow: hidden;
    padding: 0px 50px 0px 145px;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.58); */
    
    z-index: 9;
}
.hom-search-inn {
    width: 65%;
    margin: 0 auto;
}
.hom-search-inn form {} .hom-search-inn form ul {
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 10px 0px;
}
.hom-search-inn form ul li {
    list-style-type: none;
    float: left;
    width: 20%;
}
.hom-search-inn form ul li:nth-child(1) {
    width: 75%;
}
.hom-search-inn form ul li:nth-child(2) {
    width: 25%;
}
.hom-search-inn form ul li input {
    width: 100%;
    border: 0px solid;
    padding: 7px 15px;
    border-radius: 0px;
}
.hom-search-inn form ul li input[type="submit"] {
    background: #fec10b;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
}
/*-------------------------------------------------------*/
/* HOME PAGE: TOP TRENDINGS
/*-------------------------------------------------------*/

.hom-top-trends {} .hom-trend {
    margin-bottom: 15px;
}
.hom-trend-img {
    position: relative;
    overflow: hidden;
}
.hom-trend-img img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.hom-trend-img img {
    width: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.hom-trend-con {
    padding: 15px 0px;
}
.hom-trend-con span {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #848080;
}
.hom-trend-con span i {
    width: 18px;
    height: 18px;
    background: #ffc107;
    color: #000;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    border-radius: 2px;
    margin-right: 5px;	
}
.hom-trend-con a {} .hom-trend-con a h4 {
    /* font-family: 'Lato', sans-serif; */
    
    font-size: 18px;
    color: #2b3338;
    /* font-family: 'Montserrat', sans-serif; */
    
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    /* font-family: 'Lato', sans-serif; */
    
    letter-spacing: 0.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hom-trend-date {
    font-size: 14px;
}
.hom-trend-date b {
    padding-right: 5px;
    font-weight: 300;
}
.hom-trend-con p {
    color: #848080;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0px;
}
.hom-top-trends-box {} .hom-top-trends-box-1 {} .hom-top-trends-box-11 {
    margin-bottom: 30px;
}
.hom-top-trends-box-11 img {
    width: 100%;
}
.hom-top-trends-box-2 {} .hom-top-trends-box-2 h4 {
    color: #fff;
    font-size: 30px;
    font-style: italic;
}
.hom-top-trends-box-2 p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
.hom-top-trends-box-2 a {
    padding: 5px 10px;
    color: #000000;
    font-weight: 600;
    /* margin: 15px; */
    
    background: #ffc107;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
}
.hom-top-trends-box-21 {
    position: relative;
    overflow: hidden;
    background-size: cover;
    z-index: 10;
    margin-bottom: 30px;
    background: url(../images/trends/6.jpeg) no-repeat;
    background-size: cover;
    padding: 9% 5% 5% 5%;
}
.hom-top-trends-box-21:hover {
    padding-left: 6%;
}
.hom-top-trends-box-22 {
    background: url(../images/trends/7.jpg) no-repeat;
    background-size: cover;
}
.hom-top-trends-box-21::before {
    content: '';
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.72) 14%, rgba(0, 0, 0, 0.08) 80%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: -9;
}
.hom-top-trends-box-21 img {
    width: 100%;
}
/*-------------------------------------------------------*/
/* LATEST NEWS - HOVER EFFECTS (Home page below the enquiry section )
/*-------------------------------------------------------*/

.ln {
    margin-top: -10px;
}
.ln ul {
    padding: 0px;
}
.ln ul li {
    float: left;
    width: 25%;
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #1e6321;
}
.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 22px 20px;
}
.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 24px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
    margin-top: 0px;
}
.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.hovereffect a {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 5px;
    border: 1px solid #e5ad05;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
    border: 1px solid #d7a307;
    /* -webkit-box-shadow: #B7B8B8 0px 1px 0px inset; */
    
    -moz-box-shadow: #B7B8B8 0px 1px 0px inset;
    /* box-shadow: #B7B8B8 0px 1px 0px inset; */
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000 !important;
    background-color: #ffd65e !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
    background-image: -webkit-linear-gradient(top, #ffd65e, #febf04);
    background-image: -moz-linear-gradient(top, #ffd65e, #febf04);
    background-image: -ms-linear-gradient(top, #ffd65e, #febf04);
    background-image: -o-linear-gradient(top, #ffd65e, #febf04);
    background-image: linear-gradient(to bottom, #ffd65e, #febf04);
    /* display: block; */
    
    text-align: center;
}
.hovereffect a,
.hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.hovereffect:hover a,
.hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.band {
    width: 50px;
    height: auto;
    position: absolute;
    z-index: 99;
    left: -3px;
    top: 19px;
}
/*-------------------------------------------------------*/
/* ALL SPORTS EVENT SECTION
/*-------------------------------------------------------*/

.tit-com-spec {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 35px;
}
.tit-com-spec i {
    /* width: 50px; */
    /* height: 75px; */
    
    border: 1px solid #3ba03f;
    padding: 2% 1%;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    background: #4caf50;
    color: #fff;
    margin-right: 12px;
    /* display: block; */
    
    position: relative;
    /* margin-top: 5px; */
    
    border-radius: 2px;
    float: left;
}
.tit-com-spec h6 {
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 0px;
    /* padding-left: 9px; */
    
    color: #13293D;
    margin-bottom: 0px;
    margin-left: 10px;
    /* position: relative; */
    /* float: left; */
    
    font-family: 'Lato', sans-serif;
}
.tit-com-spec h2 {
    font-size: 36px;
    color: #13293D;
    margin-top: 15px;
    margin-top: 10px;
    /* float: left; */
    
    margin-bottom: 0px;
}
.tit-com-spec h2 span {
    font-size: 36px;
    color: #afafaf;
}
.event-left {} .event-right {} .event-left h2 {} .event-left p {} .event-left ul {
    padding: 0px;
    margin-bottom: 0px;
}
.event-left ul li {
    width: 100%;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 25px;
    padding-top: 25px;
}
.event-left ul li:nth-child(1) {
    padding-top: 0px;
}
.se {
    position: relative;
    overflow: hidden;
}
.el-img {
    float: left;
    width: 30%;
}
.el-img img {
    width: 100%;
}
.el-con {
    float: left;
    width: 70%;
    padding: 0px 25px;
}
.el-con span {
    background: #4caf50;
    padding: 2px 8px 4px 8px;
    color: #fff;
}
.el-con h3 {
    color: #333;
    font-size: 28px;
}
.el-con p {
    padding-bottom: 8px;
}
.el-con a {
    border: 1px solid #e0e0e0;
    margin-right: 5px;
    padding: 5px 10px 7px 10px;
    color: #595959;
}
.el-con a:hover {
    background: #ffc107;
    color: #000;
    border: 1px solid #ffc107;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.event-right {
    position: relative;
    overflow: hidden;
}
.event-right h3 {} .event-right ul {
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
}
.event-right ul li {
    list-style-type: none;
    /* padding: 20px; */
    
    position: relative;
    overflow: hidden;
    background-size: cover;
    z-index: 10;
    margin-bottom: 25px;
}
.event-right ul li h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    /* background: #000000; */
    /* padding: 10px; */
    
    color: #fff;
}
.event-right ul li::before {
    content: '';
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.72) 14%, rgba(0, 0, 0, 0.08) 75%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: -9;
}
.event-right ul li p {
    color: #fff;
    margin-bottom: 0px;
    padding: 15px 0px;
}
.event-right ul li a {
    /* border: 1px solid #e0e0e0; */
    /* margin-right: 5px; */
    
    padding: 5px 10px;
    color: #000000;
    font-weight: 600;
    /* margin: 15px; */
    
    background: #ffc107;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
}
.event-right-bg-1 {
    background: url('../images/page/soccer1.jpeg') no-repeat;
    padding: 65% 15% 15% 15%;
}
.event-right-bg-2 {
    background: url('../images/page/cycle.jpeg') no-repeat;
    padding: 65% 15% 15% 15%;
}
.event-right-bg-3 {
    background: url('../images/page/golf.jpeg') no-repeat;
    padding: 65% 15% 15% 15%;
}
.je {
    background: url('../images/surf-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
/*-------------------------------------------------------*/
/* JOIN THE EVENT
/*-------------------------------------------------------*/

.je:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.61);
    /* top: 0px; */
    
    width: 100%;
    height: 100%;
    /* bottom: 0px; */
}
.je h2 {
    margin-top: 0px;
    font-size: 54px;
    color: #fff;
}
.je p {
    color: #ffffff;
    margin: 20px 0px;
    font-weight: 300;
    font-size: 18px;
}
.je ul {
    padding: 0px;
    margin-bottom: 0px;
}
.je ul li {
    list-style-type: none;
    display: inline-block;
    /* margin-bottom: 15px; */
}
.je ul li a {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 5px;
    border: 1px solid #e5ad05;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
    border: 1px solid #d7a307;
    /* -webkit-box-shadow: #B7B8B8 0px 1px 0px inset; */
    
    -moz-box-shadow: #B7B8B8 0px 1px 0px inset;
    /* box-shadow: #B7B8B8 0px 1px 0px inset; */
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: #ffd65e !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
    background-image: -webkit-linear-gradient(top, #ffd65e, #febf04);
    background-image: -moz-linear-gradient(top, #ffd65e, #febf04);
    background-image: -ms-linear-gradient(top, #ffd65e, #febf04);
    background-image: -o-linear-gradient(top, #ffd65e, #febf04);
    background-image: linear-gradient(to bottom, #ffd65e, #febf04);
    display: block;
    text-align: center;
}
.je ul li:first-child a {
    background: #FF5722;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 5px;
    border: 1px solid #e5ad05;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
    border: 1px solid #c54820;
    /* -webkit-box-shadow: #B7B8B8 0px 1px 0px inset; */
    
    -moz-box-shadow: #B7B8B8 0px 1px 0px inset;
    /* box-shadow: #B7B8B8 0px 1px 0px inset; */
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: #ff5722 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
    background-image: -webkit-linear-gradient(to bottom, #ff5722, #e04615);
    background-image: -moz-linear-gradient(to bottom, #ff5722, #e04615);
    background-image: -ms-linear-gradient(to bottom, #ff5722, #e04615);
    background-image: -o-linear-gradient(to bottom, #ff5722, #e04615);
    background-image: linear-gradient(to bottom, #ff5722, #e04615);
    display: block;
    text-align: center;
}
.ve {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 60px 0px 60px 0px;
}
.sele {} .sele h2 {} .sele p {
    color: #000;
}
.sele select {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 0px solid #fff;
    border-radius: 2px;
    margin: 20px 0px 25px 0px;
}
.sele a {
    background: #FF5722;
    padding: 10px 70px;
    color: #fff;
    font-size: 18px;
    top: 20px;
    position: inherit;
}
.sele a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background: #4caf50;
    color: #fff;
}
/*-------------------------------------------------------*/
/* EVENTS GOING ON
/*-------------------------------------------------------*/

.ev-po-title {
    background: url(../images/trends/6.jpeg) no-repeat #000;
    background-size: cover;
    margin-right: 2px;
    padding: 70px 20px 20px 20px;
    position: relative;
    overflow: hidden;
    background-position: 0px -143px;
}
.ev-po-title-1 {
    background: url(../images/trends/10.jpeg) no-repeat #000;
    background-size: cover;
    background-position: 0px -143px;
}
.ev-po-title::before {
    content: '';
    position: absolute;
    background: linear-gradient(to top, rgba(17, 19, 17, 0.83) 14%, rgba(0, 0, 0, 0.27) 80%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
}
.ev-po-title h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #FFEB3B;
    z-index: 5;
    position: inherit;
    font-weight: 500;
    font-size: 34px;
    font-style: italic;
}
.ev-po-title p {
    margin-bottom: 0px;
    color: #fff;
    position: relative;
    z-index: 5;
}
.ev-po {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #edeff4;
}
.link-btn {
    text-shadow: none;
    border: 1px solid #b1b1b1;
}
.ela {
    color: #737373;
    font-size: 14px;
}
.ela h2 {
    color: #000;
    margin-top: 0px;
}
.ela table {
    margin-bottom: 0px;
}
.ela table tr {} .ela table tr th {
    color: #333;
    font-size: 18px;
    vertical-align: middle !important;
    line-height: 40px !important;
    border-bottom: 0px solid #ddd !important;
}
.ela table tr td {
    vertical-align: middle !important;
    line-height: 40px !important;
    font-size: 16px;
}
.ela table tr td a {
    background: #FF5722;
    padding: 7px 12px;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    /* text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.62); */
    
    text-transform: uppercase;
    font-weight: 600;
}
.eb-sele {
    background: #ffc107;
    padding-bottom: 15px;
}
/*-------------------------------------------------------*/
/*  8.EVENTS
/*-------------------------------------------------------*/

.events {
    /* background: #ffffff; */
}
.events table {
    width: 100%;
}
.events table tr {
    line-height: 50px;
    border-bottom: 1px solid #e9e9e9;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.events table tr:hover {
    background: #e9f2f3;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.events table tr th {
    color: #31404b;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.events table tr td {
    color: #848080;
    font-size: 14px;
}
.events table tr td:first-child {
    padding: 10px 0px 10px 25px !important;
}
.events table tr td:last-child {
    padding: 10px 20px 10px 0px !important;
}
.events table tr td:nth-child(2) {
    color: #31404b;
    font-weight: 600;
    text-transform: uppercase;
    /* font-family: 'Oswald', sans-serif; */
    
    font-size: 13px;
}
.events table tr td a {
    color: #ffffff;
    font-weight: 600;
    border-radius: 0px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-size: 13px;
    background: #445258;
    border: 0px;
}
.events table tr td a:hover {
    background: #4caf50;
    color: #fff;
    border: 0px solid #379c3b;
}
.reg-btn {
    color: #ffffff;
}
.events table tr th:first-child {
    padding-right: 5px;
    padding: 10px 25px !important;
}
.events-1 {
    font-family: 'Montserrat', sans-serif;
}
.events-1 h1 {
    margin-top: 0px;
}
.events img {
    width: 45px;
    padding: 16px 0px 16px 0px;
    float: left;
}
.ev-po-2 {} .ev-po-2 img {
    width: 50px;
    padding: 5px 0px 5px 0px;
    float: left;
}
.events-title {
    background: none !important;
    /* font-family: 'Montserrat', sans-serif; */
    
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 30px;
    /* font-weight: 600; */
    /* color: #213d44; */
    
    font-family: 'Oswald', sans-serif;
}
.events table tr:first-child {} .events table tr:first-child:hover {
    background: none;
}
.ev-po-1 {}
/*-------------------------------------------------------*/
/* UPCOMING EVENTS
/*-------------------------------------------------------*/

.uc {
    background: url('../images/book.jpg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.uc:before {
    content: '';
    position: absolute;
    background: rgba(12, 23, 33, 0.61);
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.uc h2 {
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.48);
    font-size: 52px;
    padding-bottom: 12px;
    margin-top: 0px;
}
.uc a {
    background: #ffc107;
    font-weight: 600;
    color: #000;
    font-size: 32px;
    padding: 10px 30px 15px 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: up;
    border-radius: 50px;
}
.uc1 {
    padding: 65px 50px 70px 145px;
    text-align: center;
}
.hom-tick {
    position: relative;
    overflow: hidden;
    /* width: 55%; */
    
    padding-bottom: 40px;
    margin: 0 auto;
}
.hom-tick-1 {
    /* width: 40%; */
    /* float: left; */
}
.hom-tick-1 h3 {
    margin-top: 0px;
    font-size: 120px;
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
}
.hom-tick-2 {
    /* width: 60%; */
    /* float: left; */
}
.hom-tick-21 {
    display: block;
    font-size: 36px;
    color: #fff;
    margin-top: 34px;
    text-transform: uppercase;
    line-height: 42px;
}
.hom-tick-22 {
    display: block;
    font-size: 38px;
    color: #fff;
    margin-top: 24px;
}
.hom-tick-book {
    width: 60%;
    /* float:left; */
    
    margin: 0 auto;
}
/*-------------------------------------------------------*/
/* ANIMATION BUTTON 
/*-------------------------------------------------------*/
/* Sweep To Right */

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4caf50;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*-------------------------------------------------------*/
/* TITLE
/*-------------------------------------------------------*/

.sp-title {
    padding: 25px 50px 25px 145px;
    position: relative;
    overflow: hidden;
    background: #ffc107;
}
.sp-title::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: #000000;
}
.sp-title-inn {
    position: relative;
}
.sp-title-left {
    float: left;
    width: 20%;
    text-align: center;
}
.sp-title-left i {
    display: block;
    font-size: 60px;
    margin-top: 5px;
    color: #ffc107;
}
.sp-title-left span {
    color: #fff;
}
.sp-title-right {
    float: left;
    width: 80%;
}
.sp-title-right h2 {
    margin-top: 0px;
    font-size: 36px;
}
.sp-title-right h2 span {
    font-size: 36px;
    color: #ffffff;
}
.sp-title-right p {
    margin-bottom: 0px;
}
.spe-title {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    width: 75%;
    margin: 0 auto;
}
.spe-title h2 {
    margin-bottom: 0px;
    padding-bottom: 20px;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    color: #253d52;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.59);
}
.spe-title h2 span {
    color: #00BCD4;
    font-size: 36px;
}
.spe-title p {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 300;
    padding-top: 12px;
    color: #888;
}
.spe-title-1 {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.spe-title-1 h2 {
    color: #000;
    font-size: 42px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.spe-title-1 h2 span {
    color: #ffc107;
    font-size: 42px;
}
.spe-title-1 p {
    color: #848484;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 300;
}
.spe-title-wid {
    width: 100%;
}
.hom-tit {
    margin-top: -10px;
    margin-bottom: 12px;
    display: none;
}
.hom-tit-1 {
    width: 80px;
    height: 1px;
    display: inline-block;
    background: #ffc107;
}
.hom-tit-2 {
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    position: relative;
    top: 5px;
    width: 12px;
    border: 3px solid #ffc107;
    border-radius: 10px;
    /* background: #000; */
}
.hom-tit-3 {
    width: 80px;
    height: 1px;
    display: inline-block;
    background: #ffc107;
}
/*-------------------------------------------------------*/
/* JOIN OUR CLUB AND DONATION
/*-------------------------------------------------------*/

.a2 {
    position: relative;
    overflow: hidden;
    padding: 50px 0px;
}
.a21 {
    float: left;
    width: 50%;
    padding: 0px 25px 0px 0px;
}
.a21 img {
    width: 100%;
}
.a22 {
    float: left;
    width: 50%;
    padding: 0px 25px;
}
.home-join {} .home-join h2 {} .home-join p {
    font-size: 16px;
    /* padding: 25px 0px; */
    
    margin-bottom: 0px;
    color: #6f6f6f;
}
.spor-eve-sp {
    display: inline-block;
    padding: 20px 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    color: #a2a2a2;
}
.home-join ul {
    padding: 0px;
    margin-top: 26px;
}
.home-join ul li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 24px;
}
.home-join ul li a {
    /* color: #000; */
    /* padding: 7px 10px 7px 10px; */
    /* font-weight: 600; */
    /* font-size: 16px; */
    /* border-radius: 2px; */
    
    color: #000000;
    background: #ffc210;
    padding: 10px 14px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 5px;
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
}
.home-join ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background: #4caf50;
    /* border-bottom: 2px solid #a2320f; */
    
    color: #fff;
}
/*-------------------------------------------------------*/
/* BLOG POSTS
/*-------------------------------------------------------*/

.blog {
    background: #27313a;
    position: relative;
    overflow: hidden;
    color: #737373;
}
.blog-1 {
    float: left;
    width: 12%;
    text-align: center;
}
.blog-1 span {
    color: #7a7d81;
}
.blog-1 h4 {
    color: #f0c419;
    font-size: 74px;
}
.blog-2 ul li a {
    text-decoration: none;
    color: #aaa;
}
.blog-2 ul li h4 {
    font-family: 'Lato', sans-serif;
}
.blog-2 {
    float: left;
    width: 68%;
    border-left: 1px solid #595959;
    border-right: 1px solid #595959;
    padding: 0px 3%;
}
.blog-2 ul {
    padding: 0px;
}
.blog-2 ul li {
    list-style-type: none;
}
.blog-2 ul li p {
    color: #737373;
}
.blog-2 ul li:nth-child(1) {} .blog-2 ul li:nth-child(2) {} .blog-3 {
    float: left;
    width: 18%;
}
.blog-3 ul {
    padding: 0px;
}
.blog-3 ul li {
    list-style-type: none;
    color: #737373;
}
.blog-3 ul li i {
    padding-right: 5px;
}
.blog-3 ul li:nth-child(1) {} .blog-3 ul li:nth-child(2) {} .blog-3 ul li:nth-child(3) {} #myInput {
    background-image: url('../images/searchicon.png');
    background-position: 10px 14px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
/*-------------------------------------------------------*/
/* FOOTER
/*-------------------------------------------------------*/

.ffoot {
    position: relative;
    overflow: hidden;
    /* background-image: -webkit-radial-gradient(top center, circle farthest-corner, #00BCD4, rgba(0, 0, 0, 0.56)); */
    /* background-image: radial-gradient(circle farthest-corner at top center, #00BCD4, rgba(0, 0, 0, 0.76)); */
    
    background: #1d272f;
}
.ffoot:before {
    /* content: ''; */
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* background: #a7a7a7; */
    /* background-size: cover; */
    /* opacity: 0.05; */
    
    filter: alpha(opacity=20);
}
.foot1 {
    border-bottom: 1px solid #2b3842;
    padding-bottom: 25px;
}
.foot1 a {} .foot1 a img {
    width: 250px;
}
.foot1 ul {
    margin: 0px;
    float: right;
    padding: 0px;
    margin-left: 10px;
}
.foot1 ul li {
    list-style-type: none;
    color: #989898;
    float: left;
    margin-left: 15px;
}
.foot1 ul li span {
    font-weight: 600;
    color: #fff;
}
.foot2 {
    padding: 50px 0px 50px 0px;
}
.foot-pop {} .foot-pop ul {
    padding: 0px;
    margin-bottom: 0px;
}
.foot-pop ul li {
    list-style-type: none;
    display: inline-block;
    /* width:100%; */
    
    margin-top: 15px;
}
.foot-pop ul li img {
    float: left;
    width: 150px;
}
.foot-pop-eve {
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
}
.foot-pop-eve h4 {
    font-size: 14px;
    margin-top: 8px !important;
    margin-bottom: 4px;
}
.foot-pop-eve p {
    font-size: 12px;
}
.foot-pop-eve span {
    color: #000000;
    background: #ffc210;
    padding: 3px 5px;
    /* display: inline-block; */
    
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 2px;
}
.foot-com {} .foot-com h4 {
    color: #989898;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.foot-com p {
    color: #636363;
    margin-bottom: 0px;
}
.foot-ph {
    color: #000000;
    background: #ffc210;
    padding: 10px 14px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 10px;
}
.foot-soc {} .foot-soc ul {
    padding: 0px;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 15px;
}
.foot-soc ul li {
    list-style-type: none;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.foot-soc ul li i {
    width: 32px;
    height: 32px;
    text-align: center;
    color: #ffffff;
    padding: 8px;
}
.foot2-1 {
    margin-bottom: 30px;
}
.fb1 {
    background: #3b5998;
}
.gp1 {
    background: #dd4b39;
}
.tw1 {
    background: #1da1f2;
}
.li1 {
    background: #0077b5;
}
.wa1 {
    background: #34af23;
}
.sh1 {
    background: #4c4c4c;
}
.foot4 {
    border-top: 1px solid #2b3842;
    padding-top: 50px;
    /* margin-top: 30px; */
    
    margin-bottom: -15px;
}
.foot4 h5 {
    text-align: center;
    color: #dedede;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}
.foot4 ul {
    padding: 0px;
    margin: 0 auto;
    display: table;
}
.foot4 ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 20px 15px 20px;
}
.foot4 ul li a {} .foot4 ul li a img {
    opacity: 0.4;
}
.l_social {} .l_social i {
    font-size: 20px;
    margin-right: 5px;
    width: 36px;
    height: 36px;
    border-radius: 25px;
}
.l_social i.fa-facebook {
    color: #ffffff;
    background: #3b5998;
    padding: 8px 12px;
}
.l_social i.fa-google-plus {
    color: #ffffff;
    background: #dc4e41;
    padding: 8px 7px;
}
.l_social i.fa-twitter {
    color: #ffffff;
    background: #55acee;
    padding: 8px 10px;
}
.l_social i.fa-linkedin {
    color: #ffffff;
    background: #007bb5;
    padding: 9px 10px;
}
.l_social i.fa-pinterest {
    color: #ffffff;
    background: #C92228;
    padding: 8px 10px;
}
.l_social {} .l_social i {
    font-size: 20px;
    margin-right: 5px;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.35) !important;
}
.l_social i.fa-facebook {
    color: #ffffff;
    background: #3b5998;
    padding: 8px 12px;
}
.l_social i.fa-google-plus {
    color: #ffffff;
    background: #dc4e41;
    padding: 8px 7px;
}
.l_social i.fa-twitter {
    color: #ffffff;
    background: #55acee;
    padding: 8px 10px;
}
.l_social i.fa-linkedin {
    color: #ffffff;
    background: #007bb5;
    padding: 9px 10px;
}
.l_social i.fa-pinterest {
    color: #ffffff;
    background: #C92228;
    padding: 8px 10px;
}
.fcopy {
    font-size: 14px;
    background: #1a2229;
    color: #888888;
}
.copy-ri {
    padding: 25px 50px 25px 145px;
}
/*-------------------------------------------------------*/
/* INNER PAGE - STYLES 
/*-------------------------------------------------------*/

.i-head-com {} .i-head-com ul {
    margin-bottom: 0px;
}
.i-head-com ul li {
    display: inline-block;
}
.i-head-com ul li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.i-head-top {
    background: #1a2229;
    position: fixed;
    z-index: 99;
    width: 100%;
}
.i-head {
    padding: 0px 50px 0px 145px;
}
.i-head-left {} .i-head-left ul {} .i-head-left ul li {
    margin-right: 10px;
}
.i-head-left ul li a {
    margin-top: 1px;
    display: block;
}
.i-head-right {} .i-head-right ul {
    float: right;
}
.i-head-right ul li {} .top-scal {
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
}
.top-scal a {
    background: #f0c419;
}
.top-scal-1 a {
    background: #4caf50;
}
.top-scal-1 {
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
}
.i-head-right ul li a {
    -webkit-transform: skew(10deg);
    transform: skew(0deg);
    display: block;
    padding: 1px 10px;
}
.i-head-right ul li a i {
    margin-right: 4px;
}
.top-head {
    border-bottom: 0px;
    padding-bottom: 0px;
}
.top-head img {
    width: 250px;
}
.top-soc {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 6px;
    float: right;
}
.top-soc li {
    float: left;
    margin-right: 5px;
    /* margin-bottom: 5px; */
    
    margin-left: 0px !important;
}
.top-soc li a {} .top-soc li a i {
    width: 60px;
    height: 28px;
    text-align: center;
    color: #ffffff;
    padding: 7px 6px;
    border-radius: 1px;
    font-size: 14px;
}
.top-soc li h4 {
    margin-top: 5px;
    color: #fff;
}
.brea-top {
    position: relative;
    overflow: hidden;
    /* float: left; */
    /* display: block; */
    
    width: 100%;
    margin-bottom: 0px;
    display: none;
}
.brea-top li {
    display: inline-block;
    margin-right: 10px;
}
.brea-top li a {
    color: #949494;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.brea-act {
    color: #f0c419 !important;
}
.page-head div {} .page-head h1 {
    margin-top: 0px;
}
.page-head p {
    color: #292929;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 200;
}
.page-head {
    position: relative;
    overflow: hidden;
    background: #1d272f;
}
.page-head:before {} .page-head-all:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 193, 7, 0.92);
    /* top: 0px; */
    
    width: 100%;
    height: 100%;
    /* bottom: 0px; */
}
.inn-head-pad {
    padding: 55px 50px 30px 145px;
}
.inn-tit-1 {
    width: 75%;
    float: left;
}
.inn-tit-2 {
    width: 25%;
    float: left;
}
.inn-tit-2 a {} .active {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background: #ffc107;
    color: #000 !important;
}
.cycle-bg {
    background: url('../images/cycle-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.contact-head {} .contact-head iframe {
    width: 100%;
    height: 350px;
    border: 0px;
}
/*-------------------------------------------------------*/
/* INNER PAGE - CONTACT FORM - CONTACT US PAGE
/*-------------------------------------------------------*/

.con-form-1 {} .con-form-2 {} .con-form-2 ul {
    padding: 0px;
}
.con-form-2 ul li {
    width: 50%;
    float: left;
    list-style-type: none;
    margin-bottom: 8px;
    padding: 7px;
}
.con-form-2 ul li input {
    width: 100%;
    padding: 7px;
}
.con-form-2 ul li select {
    width: 100%;
    padding: 7px;
}
.con-form-2 ul li textarea {
    resize: none;
    width: 100%;
    height: 90px;
    padding: 7px;
}
.con-form-2 ul li input[type="submit"] {
    border: 0px;
    background: #FF5722;
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.con-form-2 ul li:nth-child(7) {
    width: 100%;
}
.con-form-1 ul {
    padding: 0px;
}
.con-form-1 ul li {
    list-style-type: none;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
.con-form-1 ul li i {
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding: 7px;
    /* background: #ddd; */
    
    color: #4caf50;
}
.con-form-1 ul li span {
    margin-left: 15px;
    display: inline-block;
    margin-top: -30px;
}
.icon-contact {
    width: 10%;
    height: 24px;
    float: left;
}
.icon-text {
    width: 90%;
    /* height: 24px; */
    
    float: left;
}
.joc {
    /* background: #4caf50; */
    /* border-bottom: 2px solid #0f8d14; */
}
.md {
    /* background: #00BCD4; */
    /* border-bottom: 2px solid #0095a8; */
}
/*-------------------------------------------------------*/
/* BOOKING FORM
/*-------------------------------------------------------*/

.book-form {} .book-form ul {
    padding: 0px;
}
.book-form ul li {
    list-style-type: none;
    margin-bottom: 15px;
}
.book-form input,
select,
textarea {
    width: 100%;
    /* padding: 7px; */
    /* border: 1px solid #cbcbcb; */
    
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 1px;
    height: 42px;
    border: 1px solid #dfdfdf;
    color: #b3b3b3;
}
.book-form input[placeholder] {
    color: #b3b3b3;
}
.book-form textarea {
    resize: none;
    height: 100px;
}
.book-form input[type="submit"] {
    color: #000;
    background: #ffc210;
    padding: 10px 14px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 5px;
    font-weight: 600;
    border: 0px;
}
.book-form label {
    font-size: 14px;
    color: #1d272f;
    font-weight: 600;
}
.booking-bg h2 {
    color: #000;
}
.booking-bg p,
li {
    color: #606060;
}
.booking-right {} .booking-right h3 {
    color: #606060;
}
.booking-bg-1 {
    position: relative;
}
.booking-bg {
    background: url('../images/bg2.jpg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.booking-bg:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    /* top: 0px; */
    
    width: 100%;
    height: 100%;
    /* bottom: 0px; */
}
.booking-bg-s {
    background: url('../images/bg-s.jpg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.tic-book-bg {
    background: url('../images/book.jpg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.booking-bg-s:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
}
.booking-bg-s {}
/*-------------------------------------------------------*/
/* EVENT SEARCH TABLE
/*-------------------------------------------------------*/

.myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    /* font-size: 15px; */
    /* padding: 10px; */
    
    background: #ffffff;
}
.myTable th {
    text-align: left;
    padding: 20px 10px;
}
.myTable td {
    text-align: left;
    padding: 2px 10px;
}
.myTable tr {
    border-bottom: 1px solid #ddd;
}
.myTable tr.header,
.myTable tr:hover {
    background-color: #f1f1f1;
}
/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}
/* Next & previous buttons */

.h-tm-ra {
    float: left;
    margin-top: 12px;
    padding-left: 15px;
}
.h-tm-ra h4 {
    font-family: 'Lato', sans-serif;
    color: #31404b;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.h-tm-ra span {
    color: #6e7071;
    font-size: 12px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */

.next {
    right: 5px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 5px;
}
/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */

.text {
    color: #ffffff;
    font-size: 65px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.57);
}
/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.h-tm-ra1 {
    float: left;
    margin-top: 12px;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.h-tm-ra1 h4 {
    font-family: 'Lato', sans-serif;
    color: #31404b;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}
.h-tm-ra1 span {
    color: #6e7071;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}
/*-------------------------------------------------------*/
/* EVENT REGISTER HEAD
/*-------------------------------------------------------*/

.in-head {
    float: left;
    width: 80%;
}
.in-head-1 {
    float: left;
    width: 20%;
}
.in-head-1 a {
    position: relative;
    background-color: #333;
    border: none;
    font-size: 18px;
    color: #fefefe;
    padding: 12px 14px 6px 14px;
    /* width: 200px; */
    
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 25px;
    position: absolute;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #000;
    border-radius: 75px;
}
.in-head-1 a:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 75px;
}
.in-head-1 a:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    border-radius: 75px;
}
.in-head-1 a:hover {
    color: #fefefe;
    text-decoration: underline;
    background: #4CAF50;
}
.in-head p {
    color: #131313;
}
/*-------------------------------------------------------*/
/* TEAM AND PLAYER INFORMATION
/*-------------------------------------------------------*/

.team {
    position: relative;
    overflow: hidden;
}
.team1 {
    width: 30.333%;
    float: left;
    border: 1px solid #c8c8c8;
    box-sizing: content-box;
    margin: 1%;
}
.team-inn {
    padding: 6%;
}
.team1 img {
    width: 100%;
}
.team1 h3 {} .team-bio {} .team-bio::after {
    content: '';
    background: url('../images/teama.png');
    display: inline-block;
    margin-top: 5px;
    width: 7px;
    height: 12px;
    float: right;
}
.team-pos {
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.team-pos-1 {
    float: left;
    width: 50%;
}
.team-pos-1 h5 {
    text-transform: uppercase;
    font-weight: 700;
}
.team-pos-1 span {} .brm {
    font-size: 12px;
    border: 1px solid #6e6e6e;
    color: #6e6e6e !important;
    padding: 3px 6px;
}
.player-bio {
    position: relative;
    overflow: hidden;
    background: #000000;
    /* border: 20px solid #000; */
}
.player-bio-1 {
    width: 33.33%;
    float: left;
}
.player-bio-1 ul {
    padding: 0px;
}
.player-bio-1 ul li {
    list-style-type: none;
}
.player-bio-1 img {
    width: 100%;
}
.player-info-1 {
    padding: 5%;
    color: #3d4855;
    border-left: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
}
.player-info-1 ul li {} .player-info-1 ul li:nth-child(1) {
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;
}
.player-info-1 ul li:nth-child(2) {} .player-info-1 ul li:nth-child(3) {} .player-info-1 ul li:nth-child(4) {
    color: #666666;
    font-size: 15px;
    padding-top: 15px;
    font-weight: 400;
}
.player-info-1 h2 {
    color: #ffffff;
    font-weight: 700;
}
.player-info-1 li span {} .player-info-2 {
    padding: 5%;
}
.player-info-2 ul li {
    float: left;
    width: 50%;
    padding: 2%;
}
.player-info-2 ul li h4 {
    font-weight: 700;
    color: #ffffff;
}
.player-info-2 ul li p {} .player-full-info {
    float: left;
    width: 75%;
}
.player-full-info ul li {
    line-height: 35px;
    color: #737373;
    font-size: 14px;
}
/*-------------------------------------------------------*/
/* TRAINING PAGE
/*-------------------------------------------------------*/

.training {
    background: url('../images/page/training.jpg') no-repeat left center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    background-size: 40%;
}
.img-pag-soc {
    background: url('../images/page/soccer.jpg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-cricket {
    background: url('../images/page/cricket.jpg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-about {
    background: url('../images/page/about.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-foot {
    background: url('../images/page/football.jpg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-surfing {
    background: url('../images/page/surfing.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-tennis {
    background: url('../images/page/tennis.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-yoga {
    background: url('../images/page/yoga.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-boxing {
    background: url('../images/page/boxing.jpg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-body {
    background: url('../images/page/body.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-cycle {
    background: url('../images/page/cycle.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-swimming {
    background: url('../images/page/swimming.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-athletics {
    background: url('../images/page/athletics.jpg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-basketball {
    background: url('../images/page/basketball.jpg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-canoe-slalom {
    background: url('../images/page/canoe-slalom.jpg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-golf {
    background: url('../images/page/golf.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-hockey {
    background: url('../images/page/hockey.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-volley {
    background: url('../images/page/volley.jpg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.img-pag-contact {
    background: url('../images/page/contact.jpeg') no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.tr-pro {
    width: 60%;
    float: right;
    padding: 60px 50px;
}
.tp-2 {} .tp-2 p {} .tp-2 ul {
    padding: 0px;
}
.tp-2 ul li {
    list-style-type: none;
    display: inline-block;
    width: 24%;
    text-align: center;
    float: left;
}
.tp-2 ul li img {
    margin: 0 auto;
    display: table;
}
.tp-2 ul li span {
    display: block;
}
.tp-3 {
    width: 100%;
    position: relative;
    overflow: hidden;
}
/*-------------------------------------------------------*/
/* BLOG PAGE
/*-------------------------------------------------------*/

.blog-2-b {} .blog-2-b img {
    width: 100%;
    padding: 20px 0px 25px 0px;
}
.blog-2-b h4 {
    font-size: 42px;
    font-weight: 700;
}
.blog-2-b p {
    color: #b2b2b2;
}
.bg-book {
    background: #f9f9f9;
    width: 60%;
    margin: 0 auto;
    padding: 50px 50px 30px 50px;
    box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}
.rtable {
    margin-bottom: 0px !important;
}
.rtable td {
    border-top: 0px !important;
    font-size: 14px;
    font-weight: 600;
    color: #1d272f;
    padding-bottom: 10px;
    vertical-align: middle !important;
    text-transform: uppercase;
}
.rtable input,
select,
textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #cbcbcb;
    padding: 15px;
    font-size: 14px;
    color: #9ea0a2;
    font-weight: 400;
}
.rtable select {
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 500;
}
.rtable input[type="submit"] {
    border: 0px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
}
.rtable input[type="submit"]:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background: #4caf50;
}
.rtable input[placeholder] {
    color: #1d272f;
    font-weight: 400;
}
.a212 {} .a212 h3 {
    padding: 30px 0px 15px;
}
.a212 iframe {
    border: 0px;
    width: 100%;
    height: 300px;
}
.ctable {} .ctable td {
    font-size: 15px;
    padding: 12px 0px !important;
    border: 1px solid #eaeaea;
    padding: 3% !important;
    border-top: 1px solid #eaeaea !important;
}
.ttable {} .ttable td {
    font-size: 15px;
    padding: 12px 0px !important;
}
/*-------------------------------------------------------*/
/* SOCCER EVENTS PAGE
/*-------------------------------------------------------*/

.soccer-event-page {
    background: #333;
}
.soccer-event {
    position: relative;
    overflow: hidden;
}
.soccer-event-1 {
    background: #fff;
}
.soccer-event-2 thead {
    background: #ff9800;
    color: #000;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
}
.soccer-event-2 thead tr {} .soccer-event-2 tbody tr {} .soccer-event-2 tbody tr:hover {
    background: #333333 !important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.soccer-event-2 tbody tr:hover a {
    background: #4caf50;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.soccer-event-2 tbody tr:hover .soc-ev-da {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    background: #4caf50;
    padding-top: 3px;
    top: -10px;
    position: relative;
    color: #070707;
    border: 1px solid #ffc107;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.soccer-event-2 tbody tr:hover .soc-ev-da span {
    color: #333;
}
.soccer-event-2 tbody tr td {
    color: #afafaf;
    padding: 24px 15px 2px 15px;
    font-size: 16px;
}
.soccer-event-2 tbody tr:nth-child(odd) {
    background: #252525;
}
.soccer-event-2 tbody tr:nth-child(odd) td {
    color: #afafaf;
}
.soccer-event-2 tbody tr:nth-child(even) {
    background: #1d1d1d;
}
.socc-ev-team {} .socc-ev-team ul {
    padding: 0px;
    margin-bottom: 0px;
}
.socc-ev-team ul li {
    list-style-type: none;
    display: inline-block;
}
.socc-ev-team ul li:nth-child(3) {
    padding: 0px 14px;
    color: #fff;
}
.socc-ev-team ul li:nth-child(2) {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #e34e1f;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
}
.socc-ev-team ul li:nth-child(4) {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #c68628;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
}
.socc-ev-team ul li img {
    width: 32px;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 0px solid #ddd;
}
.soc-ev-da {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    background: #4f4f4f;
    padding-top: 3px;
    top: -10px;
    position: relative;
    color: #070707;
    border: 1px solid #5f5f5f;
    color: #bcbcbc;
    font-weight: 600;
}
.soc-ev-da span {
    font-size: 24px;
    display: block;
}
.soccer-event-2 a {
    color: #787878;
    padding: 5px;
    background: #000000;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.soccer-event-2 a:hover {
    text-decoration: none;
}
.table > thead > tr > th {
    vertical-align: bottom;
    font-size: 16px;
    padding: 10px;
    color: #000;
}
.main-home-table {} .main-home-table tr {
    border-bottom: 1px solid #e1e1e1;
}
.main-home-table tr th {} .main-home-table tr td {
    padding: 10px 0px;
}
/*-------------------------------------------------------*/
/* TEAM DETAIL PAGE
/*-------------------------------------------------------*/

.team-detail-head {
    width: 70%;
    float: left;
}
.team-detail-head h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.team-detail-head h3:before {
    content: '';
    position: absolute;
    background: #ffc107;
    /* bottom: 0px; */
    
    height: 4px;
    width: 65px;
    margin-top: 33px;
}
.team-detail-head ul {
    padding: 0px;
    width: 100%;
    padding-top: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.team-detail-head ul li {
    border: 1px solid #d6d6d6;
    list-style-type: none;
    float: left;
    /* width: 20%; */
}
.team-detail-head ul li:nth-child(1) {
    width: 20%;
}
.team-detail-head ul li:nth-child(2) {
    border-left: 0px;
    border-right: 0px;
    padding: 3% 0px;
    width: 10%;
}
.team-detail-head ul li:nth-child(3) {
    padding: 3% 0px;
    width: 40%;
}
.team-detail-head ul li:nth-child(4) {
    border-left: 0px;
    border-right: 0px;
    padding: 3% 0px;
    width: 10%;
}
.team-detail-head ul li:nth-child(5) {
    width: 20%;
}
.team-detail-head ul li h5 {
    font-size: 30px;
    padding: 10px;
}
.team-detail-head img {
    width: 122px;
    margin: 0 auto;
    display: table;
}
.team-tick-book {
    float: left;
    width: 30%;
    padding: 0px 0px 20px 40px;
}
.team-tick-book h4 {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.team-tick-book h4:before {
    content: '';
    position: absolute;
    background: #ffc107;
    /* bottom: 0px; */
    
    height: 4px;
    width: 65px;
    margin-top: 25px;
}
.team-tick-book p {} .team-tick-book a {} .team-tick-book ul {} .team-tick-book ul li {} .team-tick-book ul li a {
    text-decoration: none;
}
.team-tick-book-ti {
    background: #0a9f50;
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding: 7px 0px;
    text-shadow: 0px 1px 5px rgba(120, 120, 120, 0.8);
    border-radius: 2px;
}
.team-tick-book-ti:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background: #ffc107;
    color: #333;
    text-shadow: 0px 1px 5px rgba(120, 120, 120, 0.2);
}
.team-detail-compa {
    position: relative;
    overflow: hidden;
}
.team-detail-compa th {
    padding: 15px 0px 15px 0px !important;
    color: #000;
    text-transform: uppercase;
}
.team-detail-compa tr {
    border-bottom: 1px solid #d5d5d5;
}
.team-detail-compa td {
    padding: 15px 0px;
}
/*-------------------------------------------------------*/
/* SHOP PAGE
/*-------------------------------------------------------*/

.shop {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 0px;
}
.shop img {
    width: 100%;
}
.shop h4 {
    font-size: 24px;
}
.shop p {} .shop a {
    display: block;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
    margin-top: 25px;
    transition: all 0.5s ease;
}
.shop a:hover {
    background: #4caf50;
    color: #000;
    transition: all 0.5s ease;
}
.pro-rat {} .pro-rat i {
    color: #ffb600;
    font-size: 16px;
    padding-right: 1px;
}
.pro-e {
    background: #26373a;
    color: #fff;
}
.pro-b {
    background: #FF9800;
    color: #000;
}
/*-------------------------------------------------*/
/* EVENT SCROLLING PAGE
/*-------------------------------------------------*/

.carousel-control {
    width: 4%;
}
.carousel-control.left,
.carousel-control.right {
    margin-left: 15px;
    background-image: none;
}
@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -100%;
    }
    .carousel-inner .next {
        left: 100%;
    }
    .carousel-inner .prev {
        left: -100%;
    }
    .active > div {
        display: none;
    }
    .active > div:first-child {
        display: block;
    }
}
@media (min-width: 767px) and (max-width: 992px) {
    .carousel-inner .active.left {
        left: -50%;
    }
    .carousel-inner .next {
        left: 50%;
    }
    .carousel-inner .prev {
        left: -50%;
    }
    .active > div {
        display: none;
    }
    .active > div:first-child {
        display: block;
    }
    .active > div:first-child + div {
        display: block;
    }
}
@media (min-width: 992px) {
    .carousel-inner .active.left {
        left: -25%;
    }
    .carousel-inner .next {
        left: 25%;
    }
    .carousel-inner .prev {
        left: -25%;
    }
}
.p-ee {
    border: 1px solid #e1e1e1;
}
.p-ee img {} .p-ee-1 {
    padding: 10px;
}
.p-ee-1 ul {
    padding: 0px;
}
.p-ee-1 ul li {
    list-style-type: none;
    line-height: 30px;
}
.p-ee-1 ul li i {
    padding-right: 8px;
}
.p-ee-1 ul li:nth-child(1) {
    font-weight: 600;
}
.p-ee-1 ul li:nth-child(2) {
    font-size: 13px;
}
.p-ee-1 ul li:nth-child(3) {
    font-size: 13px;
}
.p-ee-1 ul li:nth-child(4) {
    padding-top: 8px;
}
.p-ee-1 ul li:nth-child(4) a {
    /* border: 1px solid #a1a1a1; */
    
    padding: 3px 8px;
    color: #274348;
    font-weight: 600;
    display: block;
    text-align: center;
    border-radius: 2px;
    background: #e9e9e9;
    text-transform: lowercase;
}
.carousel-control .fa-chevron-left {
    top: 30%;
    position: absolute;
    left: 1px;
    background: #000;
    padding: 25px 10px;
    color: #fff;
}
.carousel-control .fa-chevron-right {
    top: 30%;
    position: absolute;
    right: 16px;
    background: #000;
    padding: 25px 10px;
    color: #fff;
}
/*--event sldier 2--*/

.p-e-2 {
    background: #1d242a;
}
.p-e-2 ul {} .p-e-2 ul li {
    color: #9b9b9b;
}
.p-e-2 ul li a {
    display: inline !important;
    margin: 0 auto;
    background: rgb(76, 175, 80) !important;
    /* border: 1px solid #767676; */
    
    color: #000000 !important;
    padding: 5px !important;
}
/*-------------------------------------------------*/
/* TOP SEARCH
/*-------------------------------------------------*/

.top-search {
    position: relative;
    overflow: hidden;
}
.top-search form {} .top-search form ul {
    margin-bottom: 0px;
    margin-top: 3px;
}
.top-search form ul li {
    float: left;
}
.top-search form ul li:nth-child(1) {
    width: 70%;
}
.top-search form ul li:nth-child(1) input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.top-search form ul li:nth-child(2) {
    width: 30%;
}
.top-search form ul li input {
    border: 0px;
    padding: 3px 8px 5px 8px;
    width: 100%;
}
.top-search form ul li input[type="submit"] {
    background: #444e56;
    color: #8a8a8a;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*-------------------------------------------------*/
/* INNER PAGE COMMON
/*-------------------------------------------------*/

.inn-tra-po {} .inn-all-com {} .inn-all-com h4 {
    font-size: 22px;
    color: #263846;
    margin-top: 0px;
}
.inn-all-com p,
li,
span {
    color: #848080;
    margin-bottom: 0px;
}
.inn-all-list {} .inn-all-list li {
    background: url(../images/whistle.png) no-repeat left center;
    padding-left: 38px;
    line-height: 30px;
    background-size: 18px;
}
.inn-all-list ul {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.inn-all-listul li {} .inn-reg-com {
    color: #000;
    font-weight: 600;
    border-radius: 2px;
    padding: 4px 15px 5px 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #000;
    /* font-family: Arial; */
    
    font-size: 16px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.62);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
}
.inn-reg-com i {
    padding-right: 5px;
}
.inn-reg-com:hover {
    padding-left: 20px;
    color: #000;
}
.inn-reg-book {
    background: #ffc107;
}
.inn-reg-link {
    background: #4caf50;
}
.inn-tickers {
    margin-top: 22px;
}
.inn-ev-date {
    position: relative;
    overflow: hidden;
    padding: 50px 0px;
    text-transform: uppercase;
}
.inn-ev-date-left {
    float: left;
    width: 25%;
    /* text-align: center; */
}
.inn-ev-date-left span {
    font-size: 20px;
    font-weight: 400;
    color: #263846;
    letter-spacing: 2px;
}
.inn-ev-date-left h4 {
    font-size: 66px;
    margin-bottom: 0px;
    /* padding: 10px 0px; */
    
    margin-top: -12px;
    color: #ffc107;
}
.inn-ev-date-rig {
    float: left;
    width: 75%;
}
.inn-ev-date-rig ul {
    margin-bottom: 0px;
}
.inn-ev-date-rig ul li {
    display: inline-block;
    width: 20%;
    text-align: center;
    color: #263846;
    font-size: 42px;
}
.inn-ev-date-rig ul li span {
    display: block;
    margin-top: 10px;
}
.inn-te-ra-link {
    color: #2d9fd2;
    padding-top: 5px;
    display: inline-block;
}
/*-------------------------------------------------------*/
/* SOCIAL SHARE
/*-------------------------------------------------------*/

.share-btn {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.share-btn ul {
    padding: 0px;
    margin-bottom: 0px;
}
.share-btn ul li {
    display: inline-block;
    margin-right: 4px;
    line-height: 40px;
}
.share-btn ul li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 11.5px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 3px;
}
.share-btn ul li:nth-child(1) a {
    background: #3b5998;
}
.share-btn ul li:nth-child(2) a {
    background: #00aced;
}
.share-btn ul li:nth-child(3) a {
    background: #d34836;
}
.share-btn ul li i {
    padding-right: 5px;
}
/*-------------------------------------------------------*/
/* JOIN OUR CLUB
/*-------------------------------------------------------*/

.p-join-club {} .p-jc-in {
    text-align: center;
    background: #f3f3f3;
    padding: 30px 0px 34px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
    border: 3px #000000;
    border-style: dashed;
    margin-bottom: 30px;
}
.p-jc-in-1 {} .p-jc-in-1 h2 {
    margin-top: 0px;
    font-size: 52px;
}
.p-jc-in-1 span {
    color: #000;
    padding-bottom: 25px;
    display: inline-block;
}
.p-jc-in h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    background: #f0c419;
    padding: 12px;
}
.p-jc-list {} .p-jc-list ul {
    margin-bottom: 0px;
    padding: 25px 0px;
}
.p-jc-list ul li {
    border-bottom: 1px solid #e2e2e2;
    line-height: 38px;
    color: #1d272f;
}
.p-jc-in a {
    background: #000;
    color: #f0c419;
    text-transform: uppercase;
    padding: 5px 8px 7px 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    display: inline-block;
}
/*-------------------------------------------------------*/
/* MATCH FIXING
/*-------------------------------------------------------*/

.team-squad {} .p-mf {} .p-mf ul {
    padding: 0px;
    margin-bottom: 0px;
}
.p-mf ul li {
    list-style-type: none;
    display: block;
    /* width:100%; */
    
    text-align: center;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
    /* line-height: 100px; */
    
    padding: 15px 0px;
}
.p-mf ul li div {
    float: left;
}
.p-mf ul li div img {
    width: 74px;
    /* margin-top: -15px; */
}
.mf-1 {
    width: 20%;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    margin-top: 22px;
    color: #263846;
    font-weight: 500;
    text-transform: uppercase;
}
.mf-2 {
    width: 10%;
}
.mf-3 {
    width: 40%;
    margin-top: 10px;
}
.mf-31 {
    display: block;
    font-size: 16px;
    color: #6d6d6d;
    font-weight: 500;
}
.mf-32 {
    display: block;
}
.mf-4 {
    width: 10%;
}
.mf-5 {
    width: 20%;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-top: 22px;
    color: #263846;
    font-weight: 500;
    text-transform: uppercase;
}
/*-------------------------------------------------------*/
/* MEGA MENU
/*-------------------------------------------------------*/

.mmenu {} .mmenu ul {
    padding: 0px;
}
.mmenu ul li {
    display: inline-block;
}
.cat-menu {
    width: 90%;
    background: #ffffff;
    position: fixed;
    overflow: hidden;
    z-index: 9999999;
    padding: 15px;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.33);
    margin-top: 0px;
    left: 10%;
    right: 0%;
    -webkit-transition: all 0.2s linear 0s;
    -khtml-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    display: none;
}
.tr-menu:hover .cat-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -khtml-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translate(0, 0);
    -khtml-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.top-menu-ani {
    transition: all 0.5s ease;
}
.cat-menu ul {
    padding: 15px 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    float: inherit;
}
.cat-menu ul li a {
    display: block;
    color: #485155;
    line-height: 35px;
    font-weight: 400;
    transition: all 0.5s ease;
    /* padding-left: 20px; */
    
    font-size: 14px;
    text-transform: capitalize;
    padding: 0px;
}
.cat-menu ul li a:hover {
    transition: all 0.5s ease;
    padding-left: 5px;
}
.cat-menu ul li a i {
    color: #5f6f71;
}
.cat-menu {} .cat-menu h4 {
    font-size: 18px;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 15px;
    color: #2d3c43;
    margin-bottom: 0px;
    padding-top: 5px;
}
.cat-menu h4 span {
    font-size: 18px;
}
/*-- RESPONSIVE SIDE MENU POPUP --*/

.mob-right-nav {
    display: none;
    position: fixed;
    right: 0px;
    background: #ffffff;
    width: 250px;
    padding: 5px 20px;
    height: 100%;
    overflow: hidden;
    z-index: 9;
    transition: all 0.5s ease;
    box-shadow: -6px 5px 13px rgba(0, 0, 0, 0.24);
}
.mob-right-nav:hover {
    overflow-y: scroll;
}
.mob-right-nav h5 {
    color: #2d3c43;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid #e3e3e3;
    padding: 12px 0px;
}
.mob-right-nav ul {} .mob-right-nav ul li {} .mob-right-nav ul li a {
    display: block;
    border-bottom: 1px solid #e3e3e3;
    padding: 7px 0px;
    color: #767f83;
    transition: all 0.5s ease;
    background: url('../images/res-menu-air.png') no-repeat left center;
    background-size: 10px;
    padding-left: 20px;
}
.mob-right-nav ul li a:hover {
    transition: all 0.5s ease;
    color: #2d3c43;
    padding-left: 25px;
}
.mob-right-nav-close {} .mob-right-nav-close i {
    cursor: pointer;
    border: 1px solid #607D8B;
    padding: 5px;
    color: #607D8B;
    border-radius: 0px;
}
.mob-menu-icon {} .mob-right-nav::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}
.mob-right-nav::-webkit-scrollbar-button {
    background: #2d3c43;
}
.mob-right-nav::-webkit-scrollbar-track-piece {
    background: #888;
}
.mob-right-nav::-webkit-scrollbar-thumb {
    background: #009688;
}
.mob-right-nav:hover {
    overflow-y: scroll;
}
.t-bb {} .cbb2-home-nav-bot {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 15px;
}
.cbb2-home-nav-bot ul {
    margin-bottom: 0px;
}
.cbb2-home-nav-bot ul li span {
    display: block;
    font-size: 32px;
    color: #1d272f;
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}
.cbb2-home-nav-bot ul li {
    border-right: 0px solid #dedede;
    vertical-align: middle;
}
.cbb2-home-nav-bot ul li:nth-child(1) {
    width: 55%;
}
.cbb2-home-nav-bot ul li:nth-child(2) {
    width: 13.5%;
}
.cbb2-home-nav-bot ul li:nth-child(3) {
    width: 13.5%;
}
.cbb2-home-nav-bot ul li:nth-child(4) {
    width: 13.5%;
}
.cbb2-home-nav-bot ul li a {
    padding-left: 2px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.cbb2-home-nav-bot ul li a i {
    color: #000;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.44);
    margin-right: 6px;
}
.cbb2-ani-btn {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 2px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 1px 3px #960;
    border-bottom: 1px solid #77766f;
    background: -webkit-linear-gradient(to left, #FFC107, #FFC837);
    background: linear-gradient(to top, #FFC107, #FFC837);
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.44);
    margin-left: 10px;
}
.cbb2-ani-btn-join {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 2px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 1px 3px #960;
    border-bottom: 1px solid #77766f;
    background: -webkit-linear-gradient(to top, #42a046, #4caf50);
    background: linear-gradient(to top, #42a046, #4caf50);
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.44);
    margin-left: 10px;
}
.cbb2-ani-btn:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.cbb2-ani-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.cm1 {} .cm1 ul {
    width: 100%;
}
.cm1 ul li {
    display: block;
}
.top-me-ev {} .top-me-ev li {} .top-me-ev li img {
    width: 80px !important;
}
.top-me-text {} .top-me-text h4 {
    font-size: 15px;
    margin-top: -8px !important;
    padding-bottom: 0px;
    padding-left: 0px;
    text-transform: uppercase;
    border-bottom: 0px;
    font-weight: 500;
    letter-spacing: .2px;
}
.top-me-text p {} .top-me-text span {
    top: -5px;
    position: relative;
}
.foot-privacy {} .foot-privacy ul {
    margin-bottom: 0px;
    padding: 0px;
    float: right;
}
.foot-privacy ul li {
    display: inline-block;
    /* margin-bottom: 0px; */
    
    line-height: 0px;
}
.foot-privacy ul li a {
    font-size: 14px;
    color: #888888;
    line-height: 0px;
    padding: 0px 5px;
}
/*-------------------------------------------------*/
/* PRE LOADING
/*-------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    /* change if the mask should have another color then white */
    
    z-index: 99999;
    /* makes sure it stays on top */
}
#status {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 44%;
    top: 50%;
    top: 50%;
    background-image: url(../images/gif.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    background-size: contain;
}
.book-succ {
    text-align: center;
    background: #4caf50;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 40px;
    display: none;
}
.con-ph {
    margin-right: 15px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
}
.con-ph i {
    margin-right: 7px;
    background: #f0c419;
    color: #000;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 5px;
    border-radius: 42px;
    font-size: 14px;
}
.con-map {} .con-map iframe {
    width: 100%;
    height: 250px;
    border: 0px;
    margin-top: 35px;
    margin-bottom: 0px;
}
/*-------------------------------------------------*/
/* SHOP
/*-------------------------------------------------*/

.pro-pri {} .pro-pri ul {
    margin-bottom: 0px;
    padding-top: 7px;
}
.pro-pri ul li {
    display: inline-block;
    padding-right: 7px;
    vertical-align: middle;
}
.pro-pri ul li:nth-child(1) {
    font-size: 32px;
    color: #2b3338;
}
.pro-pri ul li:nth-child(2) {
    text-decoration: line-through;
    font-weight: 600;
}
.pro-pri ul li:nth-child(3) {
    color: #359039;
    font-weight: 600;
}
.shop-bord {
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
}
.shop-con {
    padding: 15px;
}
.shop-con h4 {
    font-size: 18px;
    color: #2b3338;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.shop-rate {
    font-size: 14px;
}
.shop-rate i {
    background: none;
    color: #ffc107;
    margin-right: 2px;
}
/*-------------------------------------------------*/
/* SOCCER INDEX PAGE
/*-------------------------------------------------*/

.p-soc {
    background: url(../images/trends/soccer/12.jpg) no-repeat;
    background-size: cover;
}
.p-soc1 {
    background: url(../images/trends/soccer/10.jpg) no-repeat;
    background-size: cover;
}
.new-soccer {
    background: url(../images/page/p-soccer.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.p-soc-hom-2 {
    background: url(../images/trends/soccer/11.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.p-soc-hom-3 {
    background: url(../images/trends/soccer/12.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
/*-------------------------------------------------*/
/* SURFING INDEX PAGE
/*-------------------------------------------------*/

.p-sur {
    background: url(../images/trends/surfing/12.jpg) no-repeat;
    background-size: cover;
}
.p-sur1 {
    background: url(../images/trends/surfing/10.jpg) no-repeat;
    background-size: cover;
}
.new-sur {
    background: url(../images/page/p-surfing.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.p-sur-hom-2 {
    background: url(../images/trends/surfing/6.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.p-sur-hom-3 {
    background: url(../images/trends/surfing/4.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.uc-surfing {
    background: url(../images/bg/surfing.jpg) no-repeat;
    background-size: cover;
}
/*-------------------------------------------------*/
/* FITNESS INDEX PAGE
/*-------------------------------------------------*/

.pag-fitness-mat {
    background: url(../images/page/body.jpeg) no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.pag-fit-inn-combg {
    background: url(../images/trends/fitness/16.jpg) no-repeat #000;
    background-size: cover;
    background-position: 0px -143px;
}
.pag-fit-inn-combg1 {
    background: url(../images/trends/fitness/12.jpg) no-repeat #000;
    background-size: cover;
    background-position: 0px -143px;
}
.p-fit {
    background: url(../images/trends/fitness/12.jpg) no-repeat;
    background-size: cover;
}
.p-fit1 {
    background: url(../images/trends/fitness/10.jpg) no-repeat;
    background-size: cover;
}
.new-fit {
    background: url(../images/page/p-fitness.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.p-fit-hom-2 {
    background: url(../images/trends/fitness/6.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.p-fit-hom-3 {
    background: url(../images/trends/fitness/4.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.uc-fitness {
    background: url(../images/bg/fitness.jpg) no-repeat;
    background-size: cover;
}
/*-------------------------------------------------*/
/* CRICKET INDEX PAGE
/*-------------------------------------------------*/

.pag-cricket-mat {
    background: url(../images/page/cricket.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.pag-cri-inn-combg {
    background: url(../images/trends/cricket/16.jpg) no-repeat #000;
    background-size: cover;
    background-position: 0px -143px;
}
.pag-cri-inn-combg1 {
    background: url(../images/trends/cricket/12.jpg) no-repeat #000;
    background-size: cover;
    background-position: 0px -143px;
}
.p-cri {
    background: url(../images/trends/cricket/12.jpg) no-repeat;
    background-size: cover;
}
.p-cri1 {
    background: url(../images/trends/cricket/10.jpg) no-repeat;
    background-size: cover;
}
.new-cri {
    background: url(../images/page/cricket1.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.p-cri-hom-2 {
    background: url(../images/trends/cricket/6.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.p-cri-hom-3 {
    background: url(../images/trends/cricket/4.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.uc-cricket {
    background: url(../images/bg/cricket.jpg) no-repeat;
    background-size: cover;
}
/*-------------------------------------------------*/
/* ATHLETICS INDEX PAGE
/*-------------------------------------------------*/

.pag-athletics-mat {
    background: url(../images/page/athletics.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.pag-ath-inn-combg {
    background: url(../images/trends/athletics/3.jpg) no-repeat #000;
    background-size: cover;
    background-position: 0px -143px;
}
.pag-ath-inn-combg1 {
    background: url(../images/trends/athletics/14.jpg) no-repeat #000;
    background-size: cover;
    background-position: 0px -143px;
}
.p-ath {
    background: url(../images/trends/athletics/12.jpg) no-repeat;
    background-size: cover;
}
.p-ath1 {
    background: url(../images/trends/athletics/5.jpg) no-repeat;
    background-size: cover;
}
.new-ath {
    background: url(../images/page/cricket1.jpg) no-repeat left center;
    background-attachment: fixed;
    background-size: 40%;
}
.p-ath-hom-2 {
    background: url(../images/trends/athletics/10.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.p-ath-hom-3 {
    background: url(../images/trends/athletics/13.jpg) no-repeat;
    padding: 65% 15% 15% 15%;
}
.uc-athletics {
    background: url(../images/bg/athletics.jpg) no-repeat;
    background-size: cover;
}